<h1></h1>
<form method="POST" action="">
  <div class="form-group">
    <label for="name">Genre:</label>
    <input class="form-control" id="name" type="text" placeholder="Fantasy, Poetry etc." name="name" value="" />
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>